
.orbita {
  margin:auto;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  border-left: 1px solid white;
  border-top : 1px solid white;
  border-right : 1px solid white;
  border-bottom : 1px solid white;
  border-radius: 50%;
}

.planeta:after,.estrella:after {
  content:"";
  position:absolute;
  border-radius:50%;
  transform-origin:center;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.planeta,.estrella{
  position:absolute;
}

#sol {
  transform-origin:center;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#sol:after {
  transform-origin:center center;
  background: radial-gradient(circle, #FCFC14, #FF7700);
  box-shadow: 0px 0px 40px #FF7700;
  margin:auto;
  width:60px;
  height:60px;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#mercurio {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 4s linear infinite;
}

#mercurio:after {
	width:8px;
	height:8px;
  top:70px;
  left:70px;
  background: radial-gradient(circle, #7c7d7f, #7c7d7f);
}

#orbitaMercurio {
  width: 104px;
  height: 104px;
}

#venus {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 8s linear infinite;
}

#venus:after {
	width:15px;
	height:15px;
  top:120px;
  left:120px;
  background: radial-gradient(circle, #c2d326, #c2d326);
}

#orbitaVenus {
  width: 165px;
  height: 165px;
}

#tierra {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 16s linear infinite;
}

#tierra:after {
	width:15px;
	height:15px;
  top:165px;
  left:165px;
  background: radial-gradient(circle, #123aea, #123aea);
}

#orbitaTierra {
  width: 235px;
  height: 235px;
}

#marte {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 20s linear infinite;
}

#marte:after {
	width:10px;
	height:10px;
  top:210px;
  left:210px;
  background: radial-gradient(circle, #ba220b, #ba220b);
}

#orbitaMarte {
  width: 300px;
  height: 300px;
}

#jupiter {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 29s linear infinite;
}

#jupiter:after {
	width:30px;
	height:30px;
  top:260px;
  left:260px;
  background: radial-gradient(circle, #773328, #773328);
}

#orbitaJupiter {
  width: 375px;
  height: 375px;
}

#saturno {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 35s linear infinite;
}

#saturno:after {
	width:30px;
	height:30px;
  top:310px;
  left:310px;
  background: radial-gradient(circle, #4f4c4b, #4f4c4b);
}

#orbitaSaturno {
  width: 445px;
  height: 445px;
}

#urano {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 40s linear infinite;
}

#urano:after {
	width:20px;
	height:20px;
  top:360px;
  left:360px;
  background: radial-gradient(circle, #1811e0, #1811e0);
}

#orbitaUrano {
  width: 515px;
  height: 515px;
}

#neptuno {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 49s linear infinite;
}

#neptuno:after {
	width:20px;
	height:20px;
  top:410px;
  left:410px;
  background: radial-gradient(circle, #c8c8ce, #c8c8ce);
}

#orbitaNeptuno {
  width: 585px;
  height: 585px;
}

#pluton {
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  animation: traslacion 61s linear infinite;
}

#pluton:after {
	width:8px;
	height:8px;
  top:460px;
  left:460px;
  background: radial-gradient(circle, #382d34, #382d34);
}

#orbitaPluton {
  width: 655px;
  height: 655px;
}

@keyframes traslacion {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
